POSICIONES_ENTRENADORES=[1|4,2|3,3|3,4|4]
POKEMON_ENTRENADORES=[Pikachu,Charmander|Pikachu,Pidgey,Squirtle|Onix|Onix]
OBJETIVOS_ENTRENADORES=[Charmander|Mankey|Pikachu,Charizard|Bulbasaur|Pidgey,Squirtle|Pikachu,Ditto|Onix|Onix|Onix]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=0
IP_BROKER=127.0.0.1
PUERTO_BROKER=6009
IP_TEAM=127.0.0.1
PUERTO_TEAM=9090
LOG_FILE=/home/utnso/workspace/tp-2020-1c-Cuarenteam/team/team.log


